body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: lightgreen;
}

.stopwatch {
    text-align: center;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
}

.controls button {
    font-size: 1em;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#laps {
    list-style-type: none;
    padding: 0;
}

#laps li {
    margin: 5px;
}
